.container {
  padding-bottom: 5%;
  background: #a60815;
  display: flex;
  position: relative;
}

.container h1 {
  color: #f2f2f2;
  font-size: calc(7.5vw + 0.25rem);
  text-transform: lowercase;
  font-weight: 500;

  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.container section:first-of-type {
  width: calc(50% - 3px);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.container section:last-of-type {
  width: 50%;
  border-left: 3px solid #f2f2f2;
}

.link {
  position: relative;
}

@media only screen and (max-width: 640px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  div.container section {
    background: #a60815;
    height: auto;
    width: 100% !important;
  }

  .container section:first-of-type {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
  }

  .container section:first-of-type h1 {
    margin: 0;
  }

  .container section:last-of-type {
    border: none;
  }

  .link {
    display: none;
  }
}
